  .person{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-block: 10px;
    border-radius: 15px;
    // width: 100%
    max-height: 150px;
    background-color: $color-white;
    justify-content: space-around;
    
  }
  .imagePerson{
     width: 100px;
     height: 100px;
     border-radius: 50px;
     margin-right: 30px;
  }
  .trash{
    color: rgb(220, 53, 69)  !important;
    font-size: 20px  ;
  }
  .mes{
    color: rgb(35, 172, 35)  !important;
    font-size: 20px;

  }
  .Icons{
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
  .lenght{
    color: white;
    font-size: 10px;
  }
  .name{
    width: 100%;
    margin-left: 30px;
    padding: 6px;
    color:$color-primary;
  } 
  .rounded-circle{
    top:20%;

  } 
  