.prodetails{
    align-content: stretch;
    height: 800px;

   hr{
    margin: 0;
   }
    background-color: #fff;
    .small-image{
       margin-top: 0;
        display: flex;
        align-items: center;

        .small-group-image{
            margin-top: 0;
            width: 100%;
            height: 50%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            .carousel-indicators [data-bs-target] {
                text-indent: 25px;
               
               
            }
            .carousel-indicators{
                display: block;
                position: relative;
                margin-left:0;
                margin-bottom:0;
                z-index: 0;
                    .icon-up{
                        @include icon-style;
                        background-color:$color-white;
                    }
                    .icon-down{
                        @include icon-style;
                        background-color: #000;
        
                    }
                  img{
                        width: 100%;
                        height: 90px;
                       }  
                
                button{
                    @include icon-style;
                }
              
            }
          
            img{
                border-radius: 5px;
                margin: 20px auto;
            }
        }
      }
      .details-product{
        width: 100%;  
        height: 100%;
        padding-left:45px ;
        
         h1{
                color: $color-dark;
                font-family:$font-title;
                font-size: 34px;
                font-weight: 600;
                line-height: 140%; 
                letter-spacing: 0.68px;
             }
        .star{
                
                padding-top: 20px;
                display: flex;
                i{
                    padding-inline: 3px;
                    font-size: 20px;
                }
                span{
                    color: $color-primary;
                    font-size: $font-text;
                    font-size: 18px;
                    padding-inline: 15px;
                    font-weight: 500;
                    line-height: normal;
                   
                }
                p{
                    color: $color-primary;
                    font-size: $font-text;
                    font-size: 18px;
                    padding-inline: 8px;
                    font-weight: 500;
                    line-height: normal;
                }
        

             }
        .optional{
                display: flex;
                 padding-block:20px ;
                h2{
                    color: $color-dark;
                    font-family: $font-text;
                    font-size: 18px;
                    padding-top: 10px;
                    font-weight: 600;
                }
                .btn{
                    color: $color-primary;
                     font-family: $font-text;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                }
             }
        .extra-optional{
                display: flex;
                padding-top: 10px;

                .size{

                        @include size-style;
                    
                }  
                .chek{
                    display: none;
                  }
                  
             }
        h3{
                color: $color-dark;
                font-size: $font-title;
                padding-top: 40px;
                font-size: 20px;
             }
        .color{
            @include input-radio; 
            display: flex;
        
            .radio{
                display: none
              }   
             
             }
        .buton{
                // margin:5px auto;
              
                .shop{
                    padding: 12px 40px;
                    margin-block: 20px ;
                    margin-right: 20px;
                    background-color: #8A33FD;
                    @include button-detalis;
                    i{
                        color: $color-white;
                    }
                  
                }
                .prices{
                    padding: 12px 40px;
                    border: 1px solid #000;
                    border-radius: 10px;
                    @include button-detalis;
                    span{
                        color: $color-dark;
                    }
                    &:hover{
                        background-color: #383333;
                        span{
                          color: $color-white;
                    }
                        }
                       
                       
                    }
                 

             }

         .more-optional{
            display: flex;
            align-items: center;
            margin:20px auto;
            .optional1{
                display: flex;
                width: 50%;
            }
            .optional2{
                display: flex;
                width: 50%;
            }
            .texts{
                padding-top: 20px;
                p{
                    padding-left: 20px;
                    text-align: center;
                   color: $color-dark;
                   font-family: $font-text;
                   font-size: 18px;
                   font-style: normal;
                   font-weight: 500;
                   line-height: normal;
               }
            }
            .icon{
                background-color: $color-white;
                padding: 15px;
                border-radius: 50px;
                i{
                    font-size: 18px;
                    text-align: center;
                    margin-top: 5px;
                    color: $color-dark;
                }
            }
         }

      }
      .card{
        padding: 9px;
        border: none;
        padding-bottom: 30px;
        svg{
            margin-inline: 10px;
            color: #EDD146;
             font-size: 30px;
            
        }
      }
    }
     